

mat-form-field,
textarea{
  width: 100%;
}

input[type="file"] {

  visibility: hidden;
}

button[type="submit"] {
  margin-top: 2rem;
}

.image-preview {
  height: 3rem;
  margin: 1rem 0;
}

.image-preview image {
  height: 100%;

}
