<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input
      matInput type="text"
      formControlName="tittle"
      placeholder="Tittle"
       >
       <mat-error *ngIf="form.get('tittle').invalid">Please enter a post tittle</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea
    matInput rows ="4"
    formControlName="content"
    placeholder="Content">
  </textarea>
       <mat-error *ngIf="form.get('content').invalid"> Please enter a post content</mat-error>
  </mat-form-field>

  <div>
    <button mat-stroked-button type="button" (click) = "filePicker.click()"> Select Image</button>
    <input type="file" #filePicker>
  </div>
  <button mat-raised-button
    color="accent"
   type="submit">Save</button>

  </form>

</mat-card>



